*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    /* background: linear-gradient(to top, rgba(255,255,255,0)50%,rgba(255,255,255,0)50%),url(https://st2.depositphotos.com/4756885/7962/v/450/depositphotos_79625916-stock-illustration-vector-illustration-of-a-world.jpg);  */
    background-position:left;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 400px;
    height: 75px;
    margin: 0;
}

.icon{
    width: 700px;
    float:inline-start;
    height: 70px;
}

.logo{
    margin-left: -40px;
    margin-top: -100px;
    color: #191970;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 200PX;
    float: left;
    padding-top: -1000px;

}
.menu{
    margin-top: "-200px";
    padding-top: -50px;
    width: 1250px;
    float: left;
    height: 40px;
    align-content: right;
}

ul{
    float: right;
    display:flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: -120px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: rgb(228, 214, 20);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #191970;
}
.btn{
    width: 100px;
    height: 40px;
    background:	#42B72A;
    border: 2px solid rgb(228, 214, 20);
    font-size: 25px;
    font-family: 20px Arial, Helvetica, sans-serif;
    font-weight: 550;
    color:  rgb(228, 214, 20);
    border-radius: 7px;
}
.btn{
    text-decoration: none;
    /* color: red; */
    transition: .4s ease;
}
.btn:hover{
    background-color: #006400;
}

.cnabtn{
    width: 250px;
    height: 40px;
    background-color: 	#42B72A;
    border: 1.5px solid black ;
    font-size: 25px;
    font-family: 10px Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:  rgb(228, 214, 20);
    border-radius: 10px;
    border: 3px solid rgb(228, 214, 20);
    margin-left: 500px;
    margin-top: -100px;

}

.cnabtn{
    text-decoration: none;
    /* color: red; */
    transition: .4s ease;
}
.cnabtn:hover{
    background-color: #008000;
}
.about img{
    margin-top: -300px;
    margin-left: -30px;
    padding: 0%;
    border: 0cm;
}
.about .main2 .about-text{
    margin-top: -300px;
}

.about .main2 .about-text .btnf{
    width: 100px;
    height: 25px;
    background:#0000ff;
    border: 1.5px solid black;
    font-size: 15px;
    font-family: 15px Arial, Helvetica, sans-serif;
    box-shadow: inset;
    font-weight: 400;
    color:  whitesmoke;
    border-radius: 3px;
}
.about .main2 .about-text .btni{
    width: 100px;
    height: 25px;
    background:#b22222;
    border: 1.5px solid black;
    font-size: 15px;
    font-family: 15px Arial, Helvetica, sans-serif;
    box-shadow: inset;
    font-weight: 400;
    color:  whitesmoke;
    border-radius: 3px;
}
.about .main2 .about-text .btnt{
    width: 100px;
    height: 25px;
    background:#1e90ff;
    border: 1.5px solid black;
    font-size: 15px;
    font-family: 15px Arial, Helvetica, sans-serif;
    box-shadow: inset;
    font-weight: 400;
    color:  whitesmoke;
    border-radius: 3px;
}
.about .main2 .about-text .bthp{
    width: 300px;
    height: 25px;
    background:greenyellow;
    border: 1.5px solid black;
    font-size: 15px;
    font-family: 15px Arial, Helvetica, sans-serif;
    box-shadow: inset;
    font-weight: 400;
    color:  black;
    border-radius: 3px;
}

.about .main2 .about-text .text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
