*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(255,255,255,0)50%,rgba(255,255,255,0)50%),url(https://st2.depositphotos.com/4756885/7962/v/450/depositphotos_79625916-stock-illustration-vector-illustration-of-a-world.jpg); 
    background-position:left;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width: 400px;
    height: 75px;
    margin: 0;
}

.icon{
    width: 700px;
    float:inline-start;
    height: 70px;
}

.logo{
    margin-left: -40px;
    margin-top: -100px;
    color: #191970;
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 200PX;
    float: left;
    padding-top: -1000px;

}
.menu{
    margin-top: "-200px";
    padding-top: -50px;
    width: 1250px;
    float: left;
    height: 40px;
    align-content: right;
}

ul{
    float: right;
    display:flex;
    justify-content:center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: -120px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: rgb(228, 214, 20);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #191970;
}
.btn{
    width: 100px;
    height: 40px;
    background:	#42B72A;
    border: 2px solid rgb(228, 214, 20);
    font-size: 25px;
    font-family: 20px Arial, Helvetica, sans-serif;
    font-weight: 550;
    color:  rgb(228, 214, 20);
    border-radius: 7px;
}
.btn{
    text-decoration: none;
    /* color: red; */
    transition: .4s ease;
}
.btn:hover{
    background-color: #006400;
}

.cnabtn{
    width: 250px;
    height: 40px;
    background-color: 	#42B72A;
    border: 1.5px solid black ;
    font-size: 25px;
    font-family: 10px Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:  rgb(228, 214, 20);
    border-radius: 10px;
    border: 3px solid rgb(228, 214, 20);
    margin-left: 500px;
    margin-top: -100px;

}

.cnabtn{
    text-decoration: none;
    /* color: red; */
    transition: .4s ease;
}
.cnabtn:hover{
    background-color: #008000;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #191970 40%,
    green 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 60px;
      margin-left: 180px;
      margin-top: -30px;
      border: black;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  } */
  
  p {
     position: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 4px;
     overflow: hidden; 
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    margin-left: 20px;
    margin-top: -30px;
  } 
/* p {
align-items: center;
} */
